/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

#search-input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-container {
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: 0.5rem auto 0;
}

#autocomplete-results {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    max-height: 300px;
    overflow-y: auto;
}

#autocomplete-results div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}

#autocomplete-results div:last-child {
    border-bottom: none;
}

#autocomplete-results div:hover {
    background-color: #e9e9e9;
}

main {
    flex-grow: 1;
    display: flex;
}

/* Map Container */
#map {
    width: 100%;
    height: 100%;
}